a, button{
    color: #6b705c;
    text-decoration: none;
}

.container {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 15rem;
    background-color: #f5ebe0;
    color: #6b705c;
}

footer, .header {
    color: #6b705c;
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #d6ccc2;
}

footer {
    bottom: 0;
    padding-bottom: 1rem;
}

.header {
    top: 0;
}

.update {
    color: #6b705c;
    padding-top: 10rem;
}