.header{
    display: flex;
    position:relative;
    top: 0px;
    left: 0px;
    background-color: red;
    width: 100%;
    justify-content: center;
}

.main{
    background-color: blue;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

a{
    color: white;
}